#contact {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 3rem 1.3rem 3rem;
}

.container__contact {
  height: 100%;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.3rem;
}

.container__contact > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
}

.container__contact .contacts__box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container__contact .social__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 50%;
}

.social__contact .container__social {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.social__contact h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.social__contact .github {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.6rem;
}

.github i {
  font-size: 2rem;
}

.social__contact .linkedin {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
}

.linkedin i {
  color: #0077b5;
  font-size: 2em;
}

.github,
.linkedin {
  cursor: pointer;
  transition: 0.5s;
}

.github h2,
.linkedin h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.github:hover,
.linkedin:hover {
  transform: scale(1.1);
}

.contacts__box .send__message {
  border: 0.06rem solid #ffffff4b;
  border-radius: 1.3rem;
  box-shadow: inset 0.4rem 0.19rem 1.3rem 0.6rem #ffffff4b,
    inset -0.4rem -0.19rem 1.3rem 0.6rem #ffffff4b;
  width: 50%;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contacts__box .send__message h2 {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.contacts__box .send__message .email__name {
  width: 100%;
  display: flex;
  gap: 0.6rem;
}

.contacts__box .send__message .email__name input {
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

#call-me {
  display: flex;
  gap: 3rem;
  max-width: 37.25rem;
  flex-direction: column;
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
  overflow: auto;
  padding: 0.6rem;
  border-radius: 0.5rem;

  max-height: 25rem;
  font-family: "Roboto", sans-serif;
}

#call-me button {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding: 0.6rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  border: 0.06rem solid transparent;
  transition: 0.5s;
}

#call-me button:hover {
  background-color: #000;
  color: #fff;
  border: 0.06rem solid #fff;
}

#call-me button:active {
  transform: scale(0.95);
}

footer {
  background-color: #ccc;
  text-align: center;
  position: relative;
  bottom: 0;
  padding: 0.6rem;
}

footer h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
