#contact {
  background-color: var(--bottom);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 3rem 1.3rem 3rem;
}

.container__contact {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.container__contact > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--main-text);
  text-align: center;
  font-size: 2.5em;
}

.container__contact .contacts__box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container__contact .social__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 50%;
}

.social__contact .container__social {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.social__contact a {
  text-decoration: none;
}

.social__contact h3 {
  color: var(--main-text);
  font-size: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.social__contact .github {
  display: flex;
  align-items: center;
  color: var(--main-text);
  gap: 0.6rem;
}

.github i {
  font-size: 2rem;
}

.social__contact .linkedin {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--main-text);
}

.linkedin i {
  color: #0077b5;
  font-size: 2em;
}

.github,
.linkedin {
  cursor: pointer;
  transition: 0.5s;
}

.github h2,
.linkedin h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.github:hover,
.linkedin:hover {
  transform: scale(1.1);
}

.contacts__box .send__message {
  border-radius: 1.3rem;
  box-shadow: 0.4rem 0.19rem 1.3rem var(--inset-shadow);
  width: 50%;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contacts__box .send__message h2 {
  color: var(--main-text);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.contacts__box .send__message .email__name {
  width: 100%;
  display: flex;
  gap: 0.6rem;
}

.contacts__box .send__message .email__name input {
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.contacts__box .send__message .input__error input {
  border: 2px solid red;
}

.contacts__box .send__message .input__error input:focus {
  border: 2px solid darkred;
  outline: 3px solid red;
}

.contacts__box .send__message .input__error input::placeholder {
  color: red;
}
#call-me {
  display: flex;
  gap: 3rem;
  max-width: 37.25rem;
  flex-direction: column;
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
  overflow: auto;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  max-height: 25rem;
  font-family: "Roboto", sans-serif;
}

.textarea__error {
  border: 2px solid red;
}
.textarea__error::placeholder {
  color: red;
}
.textarea__error:focus {
  border: 2px solid darkred;
  outline: 3px solid red;
}

#call-me button {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding: 0.6rem;
  background-color: var(--highlight-color);
  color: var(--bottom);
  border: none;
  border-radius: 0.5rem;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  border: 0.06rem solid transparent;
  transition: 0.5s;
}

#call-me button:hover {
  background-color: var(--hovers);
  color: var(--bottom);
  border: 0.06rem solid var(--main-text);
}

#call-me button:active {
  transform: scale(0.95);
}

footer {
  background-color: var(--highlight-color);
  text-align: center;
  position: relative;
  bottom: 0;
  padding: 0.6rem;
}

footer p {
  font-family: "Poppins", sans-serif;
  color: var(--bottom);
  font-weight: 700;
  letter-spacing: 0.2rem;
}
footer p a {
  color: var(--main-text);
  text-decoration: none;
}

footer a i {
  color: var(--bottom);
  font-size: 1.5rem;
  transition: 0.3s;
}

.container__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  gap: 2rem;
  padding: 1rem;
}

.social__footer {
  display: flex;
  gap: 1rem;
}

.trim__error {
  background-color: rgb(255, 179, 179);
  color: rgb(102, 0, 0);
  border: 2px solid var(--error-border);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

.hiden {
  display: none;
}

@media (max-width: 1200px) {
  .container__contact .contacts__box {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .social__contact,
  .contacts__box .send__message {
    width: 100%;
  }

  .contacts__box .send__message {
    box-shadow: 0 0 0 0 transparent;
    padding: 0;
  }
  #call-me {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #contact {
    padding: 6rem 1.5rem 1.3rem 1.5rem;
  }

  .container__social h3 {
    font-size: 1.5rem;
  }
}
