.container__message {
  position: fixed;
  top: 10%;
  pointer-events: none;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.success__message {
  opacity: 0;
  background-color: rgb(212, 255, 147);
  color: rgb(38, 38, 38);
  border: 2px solid var(--success-border);
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.success__message .progress__bar {
  width: 0%;
  transition: width 1ms ;
  background-color: rgb(73, 167, 44);
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
