#projects {
  background-color: var(--bottom);
  padding: 6rem 3rem 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#projects > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--main-text);
  font-size: 2.5rem;
  text-align: center;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
  gap: 1.5rem;
}

.card__item {
  display: flex;
  flex-direction: column;
  aspect-ratio: 3/4;
  align-items: center;
  border-radius: 1.3rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.3rem -0.2rem 0.4rem var(--inset-shadow);
}

.icons__redirect {
  position: absolute;
  top: 0.6rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.6rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card__item:hover .icons__redirect {
  opacity: 1;
}

.icons__redirect i {
  font-size: 1.5rem;
  cursor: pointer;
}

.card__item img {
  border-radius: 1.3rem 1.3rem 0 0;
  object-fit: contain;
  width: 100%;
}

.card__item .card__infos {
  background-color: var(--highlight-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.6rem;
  height: 80%;
  bottom: 0;
  transition: transform 0.5s ease, border-radius 0.5s ease;
  transform: translateY(13.125rem);
}

.card__infos h2 {
  font-family: "Poppins", sans-serif;
  color: var(--bottom);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  transition: margin-top 0.6s ease;
}

.card__infos p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: var(--bottom);

  opacity: 0;
  font-size: 1rem;
  line-height: 1.3rem;
  transition: opacity 0.3s ease;
}
.card__item:hover .card__infos {
  transform: translateY(0rem);
  border-radius: 1.3rem 1.3rem 0 0;
}

.card__item:hover h2 {
  margin-top: 1.3rem;
}

.card__item:hover p {
  opacity: 1;
}

.buttons {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.buttons button {
  background-color: transparent;
  border: none;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  transition: 0.5s;
  pointer-events: all;
}

.buttons button:hover {
  transform: scale(1.5);
}

.buttons button:active {
  background-color: #7070703a;
}

.buttons i {
  color: var(--highlight-color);
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  #projects {
    padding: 6rem 1.5rem 1.3rem 1.5rem;
  }
  .cards__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #projects > h2 {
    font-size: 2rem;
  }
  .card__infos h2 {
    font-size: 2.5rem;
  }
}