#projects {
  background-color: var(--bottom);
  padding: 6rem 3rem 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#projects > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--main-text);
  font-size: 2.5rem;
  text-align: center;
}

#projects > p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: var(--main-text);
  text-align: center;
  max-width: 60ch;
}

.cards__list {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
  gap: 1.5rem;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.3rem;
  box-shadow: 0.3rem -0.2rem 0.4rem var(--inset-shadow);
}

.icons__redirect {
  position: absolute;
  top: 0.6rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.6rem;
  transition: opacity 0.3s ease;
}

.icons__redirect i {
  font-size: 1.5rem;
  cursor: pointer;
}

.card__item img {
  border-radius: 1.3rem 1.3rem 0 0;
  object-fit: contain;
  width: 100%;
}

.card__item .card__infos {
  background-color: var(--highlight-color);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.6rem;
  bottom: 0;
  border-radius: 0 0 1.3rem 1.3rem;
}

.card__infos h2 {
  font-family: "Poppins", sans-serif;
  color: var(--main-text);
  font-weight: 700;
  font-size: 2.2rem;
  transition: margin-top 0.6s ease;
}

.card__infos p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: var(--main-text);
  font-size: 1.1rem;
  line-height: 1.5rem;
  transition: opacity 0.3s ease;
}

.card__infos .technologies__used {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.technologies__used span {
  background-color: var(--bottom);
  color: var(--main-text);
  padding: 0.2rem 0.6rem;
  border-radius: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

@media (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  #projects {
    padding: 6rem 1.5rem 1.3rem 1.5rem;
  }
  .cards__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #projects > h2 {
    font-size: 2rem;
  }
  .card__infos h2 {
    font-size: 1.8rem;
  }
}
