#skills {
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  padding: 6rem 3rem 1.3rem 3rem;
}

.container__skills {
  background-color: var(--bottom);
  width: 100%;
  max-width: 80rem;
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1.3rem;
}

.container__skills .more__skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3.75rem;
  border-right: 0.13rem solid var(--highlight-color);
}

.more__skills h2 {
  font-family: "Poppins", sans-serif;
  color: var(--main-text);
  font-weight: 900;
  font-size: 2rem;
}

.list__more__skills {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}

.list__more__skills h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--main-text);
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.list__more__skills ul li {
  font-size: 1rem;
  color: #ccc;
  color: var(--main-text);
  margin-bottom: 0.6rem;
}

.icons__skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
}

.icons__skills h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: var(--main-text);
}

.icons__skills .list__skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 1.3rem;
  row-gap: 1.3rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.icons__skills .list__skills .item__skill img {
  border-radius: 50%;
  padding: 0.5rem;
}

.icons__skills .list__skills .item__skill {
  padding: 0.4rem;
  background-color: var(--highlight-color);
  border-radius: 1.3rem;
  aspect-ratio: 2/2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  border: 0.13rem solid transparent;
}

.icons__skills .list__skills .item__skill:hover {
  border: 0.13rem solid #fff;
}

@media (max-width: 1200px) {
  #skills {
    background-color: var(--bottom);
  }
  .container__skills {
    flex-direction: column;
    align-items: center;
  }

  .container__skills .more__skills {
    width: 100%;
    border-right: none;
    margin-bottom: 2rem;
  }

  .icons__skills {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #skills {
    padding: 6rem 1.5rem 1.3rem 1.5rem;
  }

  .container__skills h2 {
    font-size: 1.5rem;
  }

  .list__more__skills ul h3 {
    font-size: 1.2rem;
  }
}
