* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

.screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.screen1 {
  background: #111;
  color: white;
}

.screen2 {
  background: #2a2aff;
  color: white;
}

.screen3 {
  background: #eee;
  color: black;
}

.conteudo {
  opacity: 0;
  transform: translateY(100px);
  transform: translateX(-400px);
}
